@{
    Layout = null;

}

@{ 
    ViewBag.Title = "Tieu de cua HelloWorld Index";
}



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>



@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="abc">
        <p>Xin chao cac ban, ahihihi</p>
    </div>
    <ul class="abc">
        <li>@Html.ActionLink("Home", "Ahihi", "HelloWorld", "Quyet")</li>
        <li>@Html.ActionLink("Admin", "Test", "HelloWorld", new { name = "Admin" }, null)</li>
        <li>Link 3</li>
        <li>Link 4</li>
    </ul>
</body>
</html>*@


